@font-face {
    font-family:norse-bold;
    src: url(Norse-Bold.otf);
}
body{
    display: flex;
    margin: 0;
    padding: 0;
}

.bgpic{
    min-height: 100vh;
    width: 500px;
    position: relative;
}

.bgcolor{
    background-color: black;
    position: absolute;
    top: 95px;
    width: 500px;
    height: 110px;
    margin: 0;
    opacity: .4;
}

.odin{
    position: absolute;
    top: 100px;
    left: 180px;
    width: 75px;
    height: 100px;
}

.left-side span{
    font-family: norse-bold;
    position: absolute;
    top: 115px;
    left: 255px;
    color:white;
    font-size: 75px;
}

.left-side p{
    position: absolute;
    bottom: -33px;
    left: 150px;
    color: white;
}

.footer{
    background-color: black;
    position: absolute;
    bottom: -17px;
    height: 15px;
    width: 500px;
    opacity: .4;
}

.right-side{
    flex:1;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

form{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
}

header p {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: x-large;
}

.form-head{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}
.right-side > p{
    padding-left: 40px;
}


form + p{
    display: inline-block;
}

.form-row p:nth-child(2){
    margin-left: 140px;
}

label
{
    display:block;
    font-size: 10px;
}

.form-row{
    display: flex;
}

button{
    color: white;
    background-color:#596D48;
    border-radius: 5px;
    padding: 7px 42px 7px 42px;
    margin-top: 20px;
}

strong{
    color:#596D48
}

input{
    border: 2px solid #E5E7EB;
    border-radius: 3px;
}

input:focus{
    outline: none;
    border: 2px solid rgba(0, 102, 255, 0.884);
    box-shadow: rgb(48, 48, 48) 1px 1px;
}

input:required:invalid {
    border-color: red;
}

input:required:valid {
    border-color: green;
}    