@font-face {
    font-family:norse-bold;
    src: url(Norse-Bold.otf);
}
body{
    display: flex;
    margin: 0;
    padding: 0;
}

.bgpic{
    min-height: 100vh;
    width: 320px;
    position: relative;
}

.bgcolor{
    background-color: black;
    position: absolute;
    top: 45px;
    width: 320px;
    height: 110px;
    margin: 0;
    opacity: .4;
}

.odin{
    position: absolute;
    top: 50px;
    left: 80px;
    width: 75px;
    height: 100px;
}

.left-side span{
    font-family: norse-bold;
    position: absolute;
    top: 65px;
    left: 155px;
    color:white;
    font-size: 75px;
}

.left-side p{
    position: absolute;
    bottom: -18px;
    left: 50px;
    color: white;
}

.footer{
    background-color: black;
    position: absolute;
    bottom: 0px;
    height: 15px;
    width: 320px;
    opacity: .4;
}

.right-side{
    flex:1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

header p {
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 5px;
}

.right-side > p{
    padding-left: 15px;
    padding-bottom: 5px;
}

form input{
    text-align: left;
}

form + p{
    display: inline-block;
}

.form-row :nth-child(2){
    padding-left: 100px;
}

label
{
    display:block;
    font-size: 10px;
}

.form-row{
    display: flex;
}

button{
    color: white;
    background-color:#596D48;
    border-radius: 5px;
    padding: 7px 42px 7px 42px;
}

strong{
    color:#596D48
}

input{
    border: 2px solid #E5E7EB;
    border-radius: 3px;
}

input:focus{
    outline: none;
    border: 2px solid rgba(0, 102, 255, 0.884);
    box-shadow: rgb(48, 48, 48) 1px 1px;
}